:root{
    --epaisseur: 0px;
}
table{
    border: var(--epaisseur) solid black;
    height : min-content;
    width: 100%;
    padding: 20px;
    margin: 20px;
}
.semestertitle{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}


td{
    border: var(--epaisseur) solid black;
    height : 100%;
    text-align: center;
    width: 50%;
    vertical-align: top;
}

.chap{
    margin: 20px;
}

/*état des fiches*/
#finished{
    background-color: green;
}
#inprogress{
    background-color: orange;
}
#notstarted{
    background-color: red;
}
/* WIDGET */
.widget{
    position:fixed; 
    top: 0;
    right: 0;
    width: 15%;
    height: 100px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5%;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.widget:hover{
    background-color: rgba(0,0,0,0.8);
}
.boxwidget{
    width: 80%;
}

#notstarted, #inprogress, #finished {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &::after {
        display: none;
    }
    &::before {
        display: none;
    }
}