body{
    background-color: lightgray;
}
summary{
    cursor: pointer;
    font-size: 2em;
    list-style-type: none;  
}   
details{
    display: inline-block;
    width: 24.5%;
    border: 1px solid black;
    background-color: white;
}
details[open]{
    background-color: black;
    color: white;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: 1;
    overflow: auto;
}
blockquote{
    padding-left: 1em;
    font-size: 5em;
    text-align: center;
}
.barre{
    text-decoration: line-through;
}
h1{
    font-size: 2em;
    text-align: center;
}
