 button.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 20rem;
  height: auto;
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 2.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: #fff;
 } 

.buttoncontainer{
      /* poisitionning */
      position: absolute;
      top: 60%;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      z-index: 1;
}

.indice{
      z-index: 2;
      position: absolute;
      top: calc(60% - 10px);
      left: 20%;
      transform: translateY(-50%);
      display: none;
      justify-content: center;
      align-items: center;
      width: 10rem;
      height: 3rem;
      font-family: Carter One;
      font-size: 1.5rem;
      color: #fff;
      background-color: #282936;
      outline: none;
      border: solid #282936;
      border-radius: 10px;
}

.indice .indice_text{
      transform: translateX(-10%);
}

.indice .indice_icon{
      transform: translateY(10%);
      position: absolute;
      right: 0;
}

.indice:hover .indice_icon{
      transform: translateY(10%) rotate(360deg) translateX(calc(-5rem + 50%));
}

.indice:hover .indice_text{
     color: transparent;     
}


.indice, .indice_text, .indice_icon{
      transition: all .3s;
}


/* REGLES */

.boutonregles{
      position: absolute;
      top: 0;
      right: 0;
}
.regles{
      position: absolute;
      top: 10%;
      bottom: 10%;
      left: 10%;
      right: 10%;
      background-color: #282936;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 3;
      display: none;

      color: #fff;
}

.regles_text{
      width: 100%;
      height: 100%;
      overflow: scroll;
      text-align: center;
      font-size: 1.5rem;
      font-family: Carter One;
      color: #fff;
      line-height: normal;
}

.closeregles{
      margin: 1%;
      background-color: #282936;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 4;
      border-radius: 10px;
      transition: all .3s;
}

.closeregles:hover{
      background-color: #000;
      transform: scale(1.1);
      transition: all .5s;
}