@font-face {
    font-family: Carter One;
    src: url(../../assets/fonts/CarterOne-Regular.ttf);
}

body{
    background: lightpink;
}

.score{
    position: absolute;
    top: 50px;
    right: 0;
    font-family: Carter One;
    letter-spacing: .5px;
    font-size: 30px;
    margin: 10px 20px;
}

.nbPays{
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: Carter One;
    letter-spacing: .5px;
    font-size: 30px;
    margin: 10px 20px;
    color: darkblue;
}

.titre{
    color: blue;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: violet;
    width: min-content;
    padding: 10px 100px;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.answer{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-weight: bold;
    font-family: Carter One;
    letter-spacing: .5px;
    font-size: 60px;
    padding: 40px;
    border-radius: 10px;
}
.vie{
    position: absolute;
    top: 50px;
    left: 0;
    padding: 5px;
}
.answerspace{
    position: absolute;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    left: 0;
    right: 0;
    background-color: transparent;
}
.reponse{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#reponse{
    display: flex;
    margin: 20px;
    font-family: Carter One;
    letter-spacing: 1.5px;
    font-size: 30px;
    background-color: #ff1d1e;
    border : 2px solid #ff1d1e;
    border-radius: 10px;
    outline: none;
    text-align: center;
}

#drapeau{
    position: absolute;
    height: 200px;
    margin-right: 20px;
    outline: none;
    display: none;
    z-index: 2;

    /* positionning */
    top: 50%;
    right: 0;
}

.qcmcontainer{
    display: none;
    position: fixed;
    z-index: 0;
    top: 45%;
    height: 300px;
    left: 30%;
    right: 30%;
    justify-content: center;
    align-items: center;

    font-family: Carter One;
}

#choix1, #choix2, #choix3, #choix4 {
  display: block;
  padding: 10px;
  margin: 5px;
  width: 100%;
  text-align: center;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 
    background-color 0.3s ease,
    transform 0.3s ease;
}

#choix1:hover, #choix2:hover, #choix3:hover, #choix4:hover {
  background-color: #282936;
  border: 1px solid #282936;
  color: #fff;
  transform: scale(1.1);
  transition: all 0.5s ease;
}