@font-face {
    font-family: Carter One;
    src: url(../../assets/fonts/CarterOne-Regular.ttf);
}

body{
    background: lightpink;
}

.score{
    position: absolute;
    top: 0;
    right: 0;
    font-family: Carter One;
    letter-spacing: .5px;
    font-size: 30px;
}
h1{
    color: blue;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: violet;
    width: min-content;
    padding: 10px 100px;
    border-radius: 10px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.answer{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-weight: bold;
    font-family: Carter One;
    letter-spacing: .5px;
    font-size: 60px;
    padding: 40px;
    border-radius: 10px;
}
.vie{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}