  .card {
    margin: 10px;
    width: 15em;
    height: 15em;
    perspective: 1000px;
    display: inline-block;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-front {
    background-color: darkslateblue;
    color: #fff;
    display: flex;
    align-items: center;
    border: 2px solid #6A2C70;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(0deg);
  }
  
  .card-back {
    background-color: #2000EC;
    color: #fff;
    display: flex;
    align-items: center;
    border: 2px solid #2000EC;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;
    transform: rotateY(180deg);
    text-align: center;
  }
  .card-desc{
    border: none;
    margin: 0;
    padding: 0;
  }
  .card-desc li{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .card-desc h1{
    padding: 0;
    margin: 0;
  }
  