@font-face {
    font-family: Carter One;
    src: url(../assets/fonts/CarterOne-Regular.ttf);
}

header{
    background-color: darkslateblue;
    border-radius: 10px;
}
.name{
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin: 1em;
    align-self: center;
    font-family: Carter One;
    letter-spacing: 0.05em;
}
.logo{
    height: 6em;
    margin: 1em;
    align-self: center;
    border-radius: 10%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.logo:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
nav li{
    display: inline-block;
    margin: 1em;
    padding: 1em;
    text-align: center;
    border: 1px solid white;
    height: 1.5em;
    border-radius: 10px;
    font-family: Carter One;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
nav li:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    vertical-align: middle;
}
nav{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
/* #ACCUEIL */
#accueil div{
    background-color: rgb(80, 160, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    font-family: Carter One;
    border-radius: 10px;
}
/* #PROJETS */
#projects{
    background-color: rgb(80, 160, 240);
}
.projects-sorter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid darkslateblue;
    border-radius: 0 0 10px 10px;
}
#projects h2{
    font-size: 1.5em;
    font-family: Carter One;
    letter-spacing: 0.05em;
    text-align: center;
    color:darkslateblue;
}
#projects{
    margin: 1em;
    border-radius: 10px;
    font-family: Carter One;
}

